In [1]:
print("Hello world")

Hello world

In [2]:
print(3+4)

7

In [3]:
print(7-6)

1

In [4]:
print(9*6)

54

In [5]:
print(10/2)

5.0

In [6]:
print(2.0-1.0)

1.0

In [5]:
list1 = []
print(type(list1))

list2 = [10,'khan','saqlain','True',2.0,10]
print(list2[1:3])

<class 'list'>
['khan', 'saqlain']

In [7]:
tuple1 = ()
print(type(tuple1))

tuple2 = (1,3,'saqlain',2.0)
print(tuple2)

<class 'tuple'>
(1, 3, 'saqlain', 2.0)