In [64]:
import pandas as pd

In [65]:
df = pd.DataFrame(
{"a" : [4, 5, 6], 
"b" : [7, 8, 9], 
"c" : [10, 11, 12]}, 
index = [1, 2, 3])

print(df)

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [66]:
df = pd.DataFrame(
[[4, 7, 10],
[5, 8, 11],
[6, 9, 12]], 
index=[1, 2, 3], 
columns=['a', 'b', 'c'])
print(df)

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [67]:
df = pd.DataFrame(
{"a" : [4 ,5, 6], 
"b" : [7, 8, 9], 
"c" : [10, 11, 12]},)
index = pd.MultiIndex.from_tuples([('d', 1), ('d', 2),('e', 2)], names=['n', 'v'])
print(df)

   a  b   c
0  4  7  10
1  5  8  11
2  6  9  12

In [68]:
df = pd.DataFrame(
{"a" : [4, 5, 6], 
"b" : [7, 8, 9], 
"c" : [10, 11, 12]}, 
index = [1, 2, 3])
pd.melt(df)

  variable  value
0        a      4
1        a      5
2        a      6
3        b      7
4        b      8
5        b      9
6        c     10
7        c     11
8        c     12

df = pd.DataFrame(
[[4, 7, 10],
[5, 8, 11],
[6, 9, 12]], 
index=[1, 2, 3], 
columns=['a', 'b', 'c'])

In [3]:
import pandas as pd

data = {
    'var': ['A', 'A', 'B', 'B'],
    'val': [10, 20, 30, 40]
}

df = pd.DataFrame(data)
pivoted_df = df.pivot(columns='var', values='val')
print(pivoted_df)

var     A     B
0    10.0   NaN
1    20.0   NaN
2     NaN  30.0
3     NaN  40.0

In [4]:
import pandas as pd

# Sample DataFrame
data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda', 'James'],
    'Age': [28, 22, 35, 32, 29],
    'Salary': [50000, 60000, 55000, 70000, 65000]
}

df = pd.DataFrame(data)
sorted_df = df.sort_values(by='Age')
print(sorted_df)

    Name  Age  Salary
1   Anna   22   60000
0   John   28   50000
4  James   29   65000
3  Linda   32   70000
2  Peter   35   55000

In [2]:

import pandas as pd

data = {
    'id': [1, 2, 1, 2, 1, 2],
    'var': ['A', 'A', 'B', 'B', 'C', 'C'],
    'val': [10, 20, 30, 40, 50, 60]
}

df = pd.DataFrame(data)
pivoted_df = df.pivot(index='id', columns='var', values='val')
print(pivoted_df)

var   A   B   C
id
1    10  30  50
2    20  40  60

In [5]:
import pandas as pd

# Sample DataFrame 1
data1 = {
    'Name': ['John', 'Anna'],
    'Age': [28, 22],
    'Salary': [50000, 60000]
}

df1 = pd.DataFrame(data1)

# Sample DataFrame 2
data2 = {
    'Name': ['Peter', 'Linda'],
    'Age': [35, 32],
    'Salary': [55000, 70000]
}

df2 = pd.DataFrame(data2)

# Concatenate df1 and df2
result = pd.concat([df1, df2])
print(result)

    Name  Age  Salary
0   John   28   50000
1   Anna   22   60000
0  Peter   35   55000
1  Linda   32   70000

In [6]:
import pandas as pd

# Sample DataFrame 1
data1 = {
    'Name': ['John', 'Anna'],
    'Age': [28, 22]
}

df1 = pd.DataFrame(data1)

# Sample DataFrame 2
data2 = {
    'Salary': [50000, 60000],
    'Department': ['HR', 'IT']
}

df2 = pd.DataFrame(data2)

# Concatenate df1 and df2 column-wise
result = pd.concat([df1, df2], axis=1)
print(result)

   Name  Age  Salary Department
0  John   28   50000         HR
1  Anna   22   60000         IT

In [7]:
import pandas as pd

# Sample DataFrame
data = {
    'Car': ['Toyota', 'Honda', 'Ford', 'BMW', 'Audi'],
    'mpg': [30, 35, 25, 28, 32],
    'Price': [20000, 22000, 18000, 35000, 40000]
}

df = pd.DataFrame(data)
sorted_df = df.sort_values('mpg', ascending=False)
print(sorted_df)

      Car  mpg  Price
1   Honda   35  22000
4    Audi   32  40000
0  Toyota   30  20000
3     BMW   28  35000
2    Ford   25  18000

In [8]:
import pandas as pd

# Sample DataFrame
data = {
    'y': [2020, 2021, 2022],
    'sales': [100, 150, 200]
}

df = pd.DataFrame(data)

df = df.rename(columns={'y': 'year'})
print(df)

   year  sales
0  2020    100
1  2021    150
2  2022    200

In [9]:
import pandas as pd

# Sample DataFrame with unsorted index
data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Age': [28, 22, 35, 32],
    'Salary': [50000, 60000, 55000, 70000]
}

df = pd.DataFrame(data, index=[3, 1, 4, 2])
sorted_df = df.sort_index(ascending=False)
print(sorted_df)

    Name  Age  Salary
4  Peter   35   55000
3   John   28   50000
2  Linda   32   70000
1   Anna   22   60000

In [10]:
import pandas as pd

# Sample DataFrame with custom index
data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Age': [28, 22, 35, 32],
    'Salary': [50000, 60000, 55000, 70000]
}

df = pd.DataFrame(data, index=['a', 'b', 'c', 'd'])

reset_df = df.reset_index(drop=True)
print(reset_df)

    Name  Age  Salary
0   John   28   50000
1   Anna   22   60000
2  Peter   35   55000
3  Linda   32   70000

In [11]:
import pandas as pd

# Sample DataFrame
data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Age': [28, 22, 35, 32],
    'Salary': [50000, 60000, 55000, 70000],
    'Length': [180, 165, 175, 160],
    'Height': [5.9, 5.4, 5.8, 5.3]
}

df = pd.DataFrame(data)

df = df.drop(columns=['Length', 'Height'])
print(df)

    Name  Age  Salary
0   John   28   50000
1   Anna   22   60000
2  Peter   35   55000
3  Linda   32   70000

In [12]:
import pandas as pd

data = {
    'Name': ['John', 'Anna', 'John', 'Peter', 'Anna'],
    'Age': [28, 22, 28, 35, 22],
    'Salary': [50000, 60000, 50000, 55000, 60000]
}

df = pd.DataFrame(data)

df_unique = df.drop_duplicates()
print(df_unique)

    Name  Age  Salary
0   John   28   50000
1   Anna   22   60000
3  Peter   35   55000

In [13]:
import pandas as pd

# Sample DataFrame
data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda', 'James'],
    'Age': [28, 22, 35, 32, 29],
    'Salary': [50000, 60000, 55000, 70000, 65000]
}

df = pd.DataFrame(data)

sample_df = df.sample(frac=0.5)
print(sample_df)

    Name  Age  Salary
2  Peter   35   55000
1   Anna   22   60000

In [7]:
import pandas as pd

# Sample DataFrame with 15 rows
data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda', 'James', 'Alex', 'Mona', 'Sophia', 'Jack', 'Paul', 'Rita', 'Tom', 'Lucy', 'Nancy', 'Mike'],
    'Age': [28, 22, 35, 32, 29, 25, 27, 24, 31, 34, 26, 30, 23, 33, 36],
    'Salary': [50000, 60000, 55000, 70000, 65000, 48000, 52000, 49000, 53000, 61000, 56000, 58000, 47000, 62000, 59000]
}

df = pd.DataFrame(data)

# Randomly sample 10 rows from the DataFrame
sample_df = df.sample(n=15)

# Print the sampled DataFrame
# DataFrame with only 5 rows
small_df = df.head(15)

# Sample 10 rows with replacement
sample_df = small_df.sample(n=15, replace=True)

# Print the sampled DataFrame
# DataFrame with only 5 rows
small_df = df.head(10)

# Sample 10 rows with replacement
sample_df = small_df.sample(n=15, replace=True)

# Print the sampled DataFrame
print(sample_df)

    Name  Age  Salary
4  James   29   65000
0   John   28   50000
8   Jack   31   53000
1   Anna   22   60000
1   Anna   22   60000
5   Alex   25   48000
0   John   28   50000
0   John   28   50000
5   Alex   25   48000
4  James   29   65000
0   John   28   50000
6   Mona   27   52000
3  Linda   32   70000
0   John   28   50000
2  Peter   35   55000

In [1]:
import pandas as pd

# Sample DataFrame
data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda', 'James', 'Alex', 'Mona', 'Sophia'],
    'Age': [28, 22, 35, 32, 29, 25, 27, 24],
    'Salary': [50000, 60000, 55000, 70000, 65000, 48000, 52000, 49000]
}

df = pd.DataFrame(data)

last_5_rows = df.tail()
print(last_5_rows)

     Name  Age  Salary
3   Linda   32   70000
4   James   29   65000
5    Alex   25   48000
6    Mona   27   52000
7  Sophia   24   49000

In [2]:
import pandas as pd

# Sample DataFrame
data = {
    'width': [5.1, 4.9, 4.7, 4.6, 5.0],
    'length': [1.4, 1.4, 1.3, 1.5, 1.4],
    'species': ['setosa', 'setosa', 'setosa', 'setosa', 'setosa'],
    'color': ['red', 'blue', 'green', 'yellow', 'purple'],
    'weight': [0.2, 0.2, 0.2, 0.2, 0.2]
}

df = pd.DataFrame(data)
selected_columns = df[['width', 'length', 'species']]
print(selected_columns)

   width  length species
0    5.1     1.4  setosa
1    4.9     1.4  setosa
2    4.7     1.3  setosa
3    4.6     1.5  setosa
4    5.0     1.4  setosa

In [3]:
import pandas as pd

# Sample DataFrame
data = {
    'width': [5.1, 4.9, 4.7, 4.6, 5.0],
    'length': [1.4, 1.4, 1.3, 1.5, 1.4],
    'species': ['setosa', 'setosa', 'setosa', 'setosa', 'setosa']
}

df = pd.DataFrame(data)

width_column = df['width']
print(width_column)

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
Name: width, dtype: float64

In [31]:
import pandas as pd

# Sample DataFrame
data = {
    'width': [5.1, 4.9, 4.7, 4.6, 5.0],
    'length': [1.4, 1.4, 1.3, 1.5, 1.4],
    'species': ['setosa', 'setosa', 'setosa', 'setosa', 'setosa'],
    'length_of_stem': [10.5, 9.8, 10.1, 10.3, 9.9]
}

df = pd.DataFrame(data)

In [1]:
import pandas as pd

# Create a sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace', 'Henry', 'Ivy', 'Jack', 
             'Kate', 'Leo', 'Mona', 'Nina', 'Oscar', 'Paul', 'Quincy', 'Rachel', 'Sam', 'Tom'],
    'Age': [25, 30, 35, 28, 22, 40, 33, 26, 29, 31, 
            23, 34, 38, 32, 36, 27, 39, 21, 24, 37],
    'City': ['New York', 'Chicago', 'Los Angeles', 'Houston', 'Phoenix', 'Philadelphia', 'San Antonio', 'San Diego', 
             'Dallas', 'San Jose', 'Austin', 'Jacksonville', 'San Francisco', 'Columbus', 'Indianapolis', 
             'Fort Worth', 'Charlotte', 'Seattle', 'Denver', 'Washington D.C.']
}

df = pd.DataFrame(data)

# Display rows from index 10 to 19
df.iloc[10:20]

      Name  Age             City
10    Kate   23           Austin
11     Leo   34     Jacksonville
12    Mona   38    San Francisco
13    Nina   32         Columbus
14   Oscar   36     Indianapolis
15    Paul   27       Fort Worth
16  Quincy   39        Charlotte
17  Rachel   21          Seattle
18     Sam   24           Denver
19     Tom   37  Washington D.C.

In [2]:
import pandas as pd

# Create a sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 28, 22],
    'City': ['New York', 'Chicago', 'Los Angeles', 'Houston', 'Phoenix'],
    'Salary': [70000, 80000, 120000, 95000, 67000],
    'Gender': ['F', 'M', 'M', 'M', 'F'],
    'Department': ['HR', 'Engineering', 'Marketing', 'Finance', 'Sales']
}

df = pd.DataFrame(data)

# Selecting all rows but only columns at index positions 1, 2, and 5
df.iloc[:, [1, 2, 5]]

   Age         City   Department
0   25     New York           HR
1   30      Chicago  Engineering
2   35  Los Angeles    Marketing
3   28      Houston      Finance
4   22      Phoenix        Sales

In [1]:
import pandas as pd

# Create a sample DataFrame
data = {
    'x1': [10, 20, 30, 40, 50],
    'x2': [15, 25, 35, 45, 55],
    'x3': [100, 200, 300, 400, 500],
    'x4': [5, 10, 15, 20, 25],
    'x5': [50, 60, 70, 80, 90]
}

df = pd.DataFrame(data)

# Selecting all rows but only columns from 'x2' to 'x4' inclusive
df.loc[:, 'x2':'x4']

   x2   x3  x4
0  15  100   5
1  25  200  10
2  35  300  15
3  45  400  20
4  55  500  25

In [2]:
import pandas as pd

# Create a sample DataFrame
data = {
    'a': [5, 15, 25, 8, 12],
    'b': [100, 200, 300, 400, 500],
    'c': ['X', 'Y', 'Z', 'W', 'V'],
    'd': [1, 2, 3, 4, 5]
}

df = pd.DataFrame(data)

# Select rows where 'a' > 10 and only display columns 'a' and 'c'
df.loc[df['a'] > 10, ['a', 'c']]

    a  c
1  15  Y
2  25  Z
4  12  V

In [3]:
import pandas as pd

# Create a sample DataFrame
data = {
    'a': [5, 15, 25],
    'b': [100, 200, 300],
    'c': ['X', 'Y', 'Z'],
    'd': [1, 2, 3]
}

df = pd.DataFrame(data)

# Access the value at row index 1 and column index 2
value = df.iat[1, 2]
value

'Y'

In [4]:
import pandas as pd

# Create a sample DataFrame
data = {
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
}

df = pd.DataFrame(data)

# Sum of each column
column_sum = df.sum()
column_sum

A     6
B    15
C    24
dtype: int64

In [5]:
import pandas as pd

# Create a sample DataFrame
data = {
    'A': [1, 5, 3],
    'B': [4, 2, 6],
    'C': [7, 8, 0]
}

df = pd.DataFrame(data)

# Find the minimum value in each column
column_min = df.min()
column_min

A    1
B    2
C    0
dtype: int64

In [16]:
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({
    'A': [1, 5, 3],
    'B': [4, 2, 6],
    'C': [7, 8, 0]
})

# Find the maximum value in each column
column_max = df.max()

print("Maximum values in each column:")
print(column_max)

Maximum values in each column:
A    5
B    6
C    8
dtype: int64

In [6]:
import pandas as pd

# Create a sample DataFrame
data = {
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
}

df = pd.DataFrame(data)

# Calculate the mean of each column
column_mean = df.mean()
column_mean

A    2.0
B    5.0
C    8.0
dtype: float64

In [7]:
import pandas as pd

# Create a sample DataFrame
data = {
    'A': [1, 5, 3],
    'B': [4, 2, 6],
    'C': [7, 8, 0]
}

df = pd.DataFrame(data)

# Calculate the median of each column
column_median = df.median()
column_median

A    3.0
B    4.0
C    7.0
dtype: float64

In [9]:
import pandas as pd

# Create the first DataFrame (left DataFrame)
adf = pd.DataFrame({
    'x1': [1, 2, 3, 4],
    'A': ['A1', 'A2', 'A3', 'A4']
})

# Create the second DataFrame (right DataFrame)
bdf = pd.DataFrame({
    'x1': [3, 4, 5],
    'B': ['B3', 'B4', 'B5']
})

# Perform a left merge
result = pd.merge(adf, bdf, how='right', on='x1')

print(result)

   x1    A   B
0   3   A3  B3
1   4   A4  B4
2   5  NaN  B5

In [10]:
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({
    'Length': [2, 4, 6],
    'Height': [3, 5, 7]
})

# Add a new column 'Area' as the product of 'Length' and 'Height'
df = df.assign(Area=lambda df: df.Length * df.Height)

print(df)

   Length  Height  Area
0       2       3     6
1       4       5    20
2       6       7    42

In [11]:
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({
    'Length': [2, 4, 6],
    'Height': [3, 5, 7],
    'Depth': [1, 2, 3]
})

# Calculate the volume and add it as a new column 'Volume'
df['Volume'] = df.Length * df.Height * df.Depth

print(df)

   Length  Height  Depth  Volume
0       2       3      1       6
1       4       5      2      40
2       6       7      3     126

In [12]:
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({
    'Values': [10, 20, 15, 30, 25, 40, 35, 50]
})

# Use pd.qcut to create 4 quantile-based bins and assign bin numbers
df['Bin'] = pd.qcut(df['Values'], q=4, labels=False)

print(df)

   Values  Bin
0      10    0
1      20    1
2      15    0
3      30    2
4      25    1
5      40    3
6      35    2
7      50    3

In [13]:
import pandas as pd

# Create a sample DataFrame with a MultiIndex
index = pd.MultiIndex.from_tuples([
    ('A', 1), ('A', 2), ('B', 1), ('B', 2),
    ('C', 1), ('C', 2), ('D', 1), ('D', 2)
], names=['letter', 'number'])

df = pd.DataFrame({
    'Value': [10, 20, 30, 40, 50, 60, 70, 80]
}, index=index)

print("Original DataFrame:")
print(df)

# Group by the first level of the MultiIndex
grouped = df.groupby(level="letter")

print("\nGrouped DataFrame:")
for name, group in grouped:
    print(f"\nGroup: {name}")
    print(group)

Original DataFrame:
               Value
letter number
A      1          10
       2          20
B      1          30
       2          40
C      1          50
       2          60
D      1          70
       2          80

Grouped DataFrame:

Group: A
               Value
letter number
A      1          10
       2          20

Group: B
               Value
letter number
B      1          30
       2          40

Group: C
               Value
letter number
C      1          50
       2          60

Group: D
               Value
letter number
D      1          70
       2          80

In [14]:
# Create a sample DataFrame
df = pd.DataFrame({
    'Length': [2, 4, 6],
    'Height': [3, 5, 7]
})

# Get the total number of elements in the DataFrame
total_elements = df.size

print("Total number of elements in the DataFrame:")
print(total_elements)

Total number of elements in the DataFrame:
6

In [15]:
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({
    'A': [1, 2, 3, 4],
    'B': [10, 20, 30, 40]
})

# Apply different aggregation functions to columns 'A' and 'B'
result = df.agg({
    'A': ['sum', 'mean'],  # Sum and mean of column 'A'
    'B': ['max', 'min']    # Max and min of column 'B'
})

print("Aggregation result:")
print(result)

Aggregation result:
         A     B
sum   10.0   NaN
mean   2.5   NaN
max    NaN  40.0
min    NaN  10.0

In [17]:
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({
    'A': [1, 2, 3, 4],
    'B': [5, 6, 7, 8],
    'C': [9, 10, 11, 12]
})

# Calculate the variance of each column
column_variance = df.var()

print("Variance of each column:")
print(column_variance)

Variance of each column:
A    1.666667
B    1.666667
C    1.666667
dtype: float64

In [18]:
import pandas as pd

# Create a sample Series
s = pd.Series([10, 20, 15, 25, 30, 35, 40, 50])

# Calculate the 25th and 75th percentiles
quantiles = s.quantile([0.25, 0.75])

print("Quantiles (25th and 75th percentiles):")
print(quantiles)

Quantiles (25th and 75th percentiles):
0.25    18.75
0.75    36.25
dtype: float64

In [19]:
import pandas as pd

# Create a sample Series
s = pd.Series([1, 2, 3, 4, 5])

# Define a custom function
def square(x):
    return x ** 2

# Apply the custom function to each element of the Series
squared = s.apply(square)

print("Squared values:")
print(squared)

Squared values:
0     1
1     4
2     9
3    16
4    25
dtype: int64

In [20]:
import pandas as pd

# Create the first DataFrame (adf)
adf = pd.DataFrame({
    'x1': [1, 2, 3, 4],
    'A': ['A1', 'A2', 'A3', 'A4']
})

# Create the second DataFrame (bdf)
bdf = pd.DataFrame({
    'x1': [3, 4, 5, 6],
    'B': ['B3', 'B4', 'B5', 'B6']
})

# Perform an inner join on 'x1'
merged_df = pd.merge(adf, bdf, how='inner', on='x1')

print("Merged DataFrame (Inner Join):")
print(merged_df)

Merged DataFrame (Inner Join):
   x1   A   B
0   3  A3  B3
1   4  A4  B4

In [21]:
import pandas as pd

# Create the first DataFrame (adf)
adf = pd.DataFrame({
    'x1': [1, 2, 3, 4],
    'A': ['A1', 'A2', 'A3', 'A4']
})

# Create the second DataFrame (bdf)
bdf = pd.DataFrame({
    'x1': [3, 4, 5, 6],
    'B': ['B3', 'B4', 'B5', 'B6']
})

# Perform an outer join on 'x1'
merged_df = pd.merge(adf, bdf, how='outer', on='x1')

print("Merged DataFrame (Outer Join):")
print(merged_df)

Merged DataFrame (Outer Join):
   x1    A    B
0   1   A1  NaN
1   2   A2  NaN
2   3   A3   B3
3   4   A4   B4
4   5  NaN   B5
5   6  NaN   B6

In [22]:
import pandas as pd

# Create the first DataFrame (adf)
adf = pd.DataFrame({
    'x1': [1, 2, 3, 4],
    'A': ['A1', 'A2', 'A3', 'A4']
})

# Create the second DataFrame (bdf)
bdf = pd.DataFrame({
    'x1': [3, 4, 5, 6],
    'B': ['B3', 'B4', 'B5', 'B6']
})

# Filter rows in adf where x1 is in bdf's x1 column
filtered_adf = adf[adf.x1.isin(bdf.x1)]

print("Filtered DataFrame (rows in adf where x1 is in bdf's x1):")
print(filtered_adf)

Filtered DataFrame (rows in adf where x1 is in bdf's x1):
   x1   A
2   3  A3
3   4  A4

In [23]:
import pandas as pd

# Create the first DataFrame (adf)
adf = pd.DataFrame({
    'x1': [1, 2, 3, 4],
    'A': ['A1', 'A2', 'A3', 'A4']
})

# Create the second DataFrame (bdf)
bdf = pd.DataFrame({
    'x1': [3, 4, 5, 6],
    'B': ['B3', 'B4', 'B5', 'B6']
})

# Filter rows in adf where x1 is NOT in bdf's x1 column
filtered_adf = adf[~adf.x1.isin(bdf.x1)]

print("Filtered DataFrame (rows in adf where x1 is NOT in bdf's x1):")
print(filtered_adf)

Filtered DataFrame (rows in adf where x1 is NOT in bdf's x1):
   x1   A
0   1  A1
1   2  A2

In [24]:
import pandas as pd

# Create the first DataFrame (adf)
adf = pd.DataFrame({
    'x1': [1, 2, 3, 4],
    'A': ['A1', 'A2', 'A3', 'A4']
})

# Create the second DataFrame (bdf)
bdf = pd.DataFrame({
    'x1': [3, 4, 5, 6],
    'B': ['B3', 'B4', 'B5', 'B6']
})

# Filter rows in adf where x1 is NOT in bdf's x1 column
filtered_adf = adf[~adf.x1.isin(bdf.x1)]

print("Filtered DataFrame (rows in adf where x1 is NOT in bdf's x1):")
print(filtered_adf)

Filtered DataFrame (rows in adf where x1 is NOT in bdf's x1):
   x1   A
0   1  A1
1   2  A2

In [25]:
import pandas as pd

# Create the first DataFrame (ydf)
ydf = pd.DataFrame({
    'id': [1, 2, 3, 4],
    'name': ['Alice', 'Bob', 'Charlie', 'David']
})

# Create the second DataFrame (zdf)
zdf = pd.DataFrame({
    'id': [3, 4, 5, 6],
    'age': [23, 34, 45, 56]
})

# Merge ydf and zdf (default is an inner join on 'id')
merged_df = pd.merge(ydf, zdf)

print("Merged DataFrame:")
print(merged_df)

Merged DataFrame:
   id     name  age
0   3  Charlie   23
1   4    David   34

In [26]:
import pandas as pd

# Create the first DataFrame (ydf)
ydf = pd.DataFrame({
    'id': [1, 2, 3, 4],
    'name': ['Alice', 'Bob', 'Charlie', 'David']
})

# Create the second DataFrame (zdf)
zdf = pd.DataFrame({
    'id': [3, 4, 5, 6],
    'age': [23, 34, 45, 56]
})

# Merge ydf and zdf using an outer join on 'id'
merged_df = pd.merge(ydf, zdf, how='outer', on='id')

print("Merged DataFrame (Outer Join):")
print(merged_df)

Merged DataFrame (Outer Join):
   id     name   age
0   1    Alice   NaN
1   2      Bob   NaN
2   3  Charlie  23.0
3   4    David  34.0
4   5      NaN  45.0
5   6      NaN  56.0

In [27]:
import pandas as pd

# Create the first DataFrame (ydf)
ydf = pd.DataFrame({
    'id': [1, 2, 3, 4],
    'name': ['Alice', 'Bob', 'Charlie', 'David']
})

# Create the second DataFrame (zdf)
zdf = pd.DataFrame({
    'id': [3, 4, 5, 6],
    'age': [23, 34, 45, 56]
})

# Perform an outer join with indicator, and filter rows only in 'ydf'
result_df = pd.merge(ydf, zdf, how='outer', indicator=True)\
              .query('_merge == "left_only"')\
              .drop(columns=['_merge'])

print("Filtered DataFrame (Rows only in ydf):")
print(result_df)

Filtered DataFrame (Rows only in ydf):
   id   name  age
0   1  Alice  NaN
1   2    Bob  NaN

In [28]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({
    'Date': ['2024-09-01', '2024-09-02', '2024-09-03', '2024-09-04'],
    'Sales': [200, 220, 250, 270]
})

# Shift the 'Sales' column by 1 period
df['Previous_Sales'] = df['Sales'].shift(1)

print(df)

         Date  Sales  Previous_Sales
0  2024-09-01    200             NaN
1  2024-09-02    220           200.0
2  2024-09-03    250           220.0
3  2024-09-04    270           250.0

In [29]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({
    'Player': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Score': [85, 92, 85, 76, 92]
})

# Rank the 'Score' column using the 'dense' method
df['Rank'] = df['Score'].rank(method='dense', ascending=False)

print(df)

    Player  Score  Rank
0    Alice     85   2.0
1      Bob     92   1.0
2  Charlie     85   2.0
3    David     76   3.0
4      Eve     92   1.0

In [30]:
import pandas as pd

# Create a Series
s = pd.Series([10, 20, 30, 40])

# Compute the cumulative sum
cumulative_sum = s.cumsum()

print("Original Series:")
print(s)
print("\nCumulative Sum:")
print(cumulative_sum)

Original Series:
0    10
1    20
2    30
3    40
dtype: int64

Cumulative Sum:
0     10
1     30
2     60
3    100
dtype: int64

In [31]:
import pandas as pd

# Create a Series
s = pd.Series([100, 200, 200, 300, 400])

# Compute the rank using the 'min' method
rank_min = s.rank(method='min')

print("Original Series:")
print(s)
print("\nRanks (method='min'):")
print(rank_min)

Original Series:
0    100
1    200
2    200
3    300
4    400
dtype: int64

Ranks (method='min'):
0    1.0
1    2.0
2    2.0
3    4.0
4    5.0
dtype: float64

In [32]:
import pandas as pd

# Create a Series
s = pd.Series([3, 1, 4, 1, 5, 9, 2, 6])

# Compute the cumulative maximum
cumulative_max = s.cummax()

print("Original Series:")
print(s)
print("\nCumulative Maximum:")
print(cumulative_max)

Original Series:
0    3
1    1
2    4
3    1
4    5
5    9
6    2
7    6
dtype: int64

Cumulative Maximum:
0    3
1    3
2    4
3    4
4    5
5    9
6    9
7    9
dtype: int64

In [33]:
import pandas as pd

# Create a Series
s = pd.Series([1, 2, 3, 4, 5])

# Compute the cumulative product
cumulative_product = s.cumprod()

print("Original Series:")
print(s)
print("\nCumulative Product:")
print(cumulative_product)

Original Series:
0    1
1    2
2    3
3    4
4    5
dtype: int64

Cumulative Product:
0      1
1      2
2      6
3     24
4    120
dtype: int64

In [34]:
import pandas as pd

# Create a Series
s = pd.Series([100, 200, 200, 300, 100])

# Compute the rank using the 'first' method
rank_first = s.rank(method='first')

print("Original Series:")
print(s)
print("\nRanks (method='first'):")
print(rank_first)

Original Series:
0    100
1    200
2    200
3    300
4    100
dtype: int64

Ranks (method='first'):
0    1.0
1    3.0
2    4.0
3    5.0
4    2.0
dtype: float64

In [35]:
import pandas as pd

# Create a Series
s = pd.Series([10, 20, 30, 40, 50])

# Shift values upward by 1 position
shifted_series = s.shift(-1)

print("Original Series:")
print(s)
print("\nShifted Series (shift(-1)):")
print(shifted_series)

Original Series:
0    10
1    20
2    30
3    40
4    50
dtype: int64

Shifted Series (shift(-1)):
0    20.0
1    30.0
2    40.0
3    50.0
4     NaN
dtype: float64

In [36]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({
    'A': [10, 20, 30],
    'B': [5, 25, 35],
    'C': [7, 15, 40]
})

# Compute the maximum value across each row
row_max = df.max(axis=1)

print("Original DataFrame:")
print(df)
print("\nRow-wise Maximum (max(axis=1)):")
print(row_max)

Original DataFrame:
    A   B   C
0  10   5   7
1  20  25  15
2  30  35  40

Row-wise Maximum (max(axis=1)):
0    10
1    25
2    40
dtype: int64

In [37]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({
    'A': [10, 20, 30],
    'B': [5, 25, 35],
    'C': [7, 15, 40]
})

# Compute the minimum value across each row
row_min = df.min(axis=1)

print("Original DataFrame:")
print(df)
print("\nRow-wise Minimum (min(axis=1)):")
print(row_min)

Original DataFrame:
    A   B   C
0  10   5   7
1  20  25  15
2  30  35  40

Row-wise Minimum (min(axis=1)):
0     5
1    15
2    30
dtype: int64

In [38]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({
    'A': [15, -20, 5, 8],
    'B': [-12, 25, 0, -7],
    'C': [11, -15, 30, -3]
})

# Clip the values between -10 and 10
clipped_df = df.clip(lower=-10, upper=10)

print("Original DataFrame:")
print(df)
print("\nClipped DataFrame (clip(lower=-10, upper=10)):")
print(clipped_df)

Original DataFrame:
    A   B   C
0  15 -12  11
1 -20  25 -15
2   5   0  30
3   8  -7  -3

Clipped DataFrame (clip(lower=-10, upper=10)):
    A   B   C
0  10 -10  10
1 -10  10 -10
2   5   0  10
3   8  -7  -3

In [39]:
import pandas as pd

# Create a DataFrame with positive and negative values
df = pd.DataFrame({
    'A': [-5, 10, -15],
    'B': [20, -25, 30],
    'C': [-35, 40, -45]
})

# Compute the absolute values
abs_df = df.abs()

print("Original DataFrame:")
print(df)
print("\nAbsolute Value DataFrame (abs()):")
print(abs_df)

Original DataFrame:
    A   B   C
0  -5  20 -35
1  10 -25  40
2 -15  30 -45

Absolute Value DataFrame (abs()):
    A   B   C
0   5  20  35
1  10  25  40
2  15  30  45

In [40]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({
    'A': [1, 2, 3, 4, 5],
    'B': [10, 20, 30, 40, 50]
})

# Compute the expanding mean
expanding_mean = df.expanding().mean()

print("Original DataFrame:")
print(df)
print("\nExpanding Mean:")
print(expanding_mean)

Original DataFrame:
   A   B
0  1  10
1  2  20
2  3  30
3  4  40
4  5  50

Expanding Mean:
     A     B
0  1.0  10.0
1  1.5  15.0
2  2.0  20.0
3  2.5  25.0
4  3.0  30.0

In [41]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({
    'A': [1, 2, 3, 4, 5],
    'B': [10, 20, 30, 40, 50]
})

# Compute the rolling mean with a window size of 2
rolling_mean = df.rolling(window=2).mean()

print("Original DataFrame:")
print(df)
print("\nRolling Mean (window=2):")
print(rolling_mean)

Original DataFrame:
   A   B
0  1  10
1  2  20
2  3  30
3  4  40
4  5  50

Rolling Mean (window=2):
     A     B
0  NaN   NaN
1  1.5  15.0
2  2.5  25.0
3  3.5  35.0
4  4.5  45.0

In [58]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({
    'Player': ['Alice', 'Bob', 'Charlie', 'Eve', 'David'],
    'Score': [85, 92, 85, 76, 92]
})
df.sort_index(ascending=False)

    Player  Score
4    David     92
3      Eve     76
2  Charlie     85
1      Bob     92
0    Alice     85

In [68]:
import pandas as pd

df1 = pd.DataFrame({
    'A' : [ 1,2,3]})
df2 = pd.DataFrame({
    'B' : [4,5,6]})

result = pd.concat([df1,df2],axis=1)
print(result)

   A  B
0  1  4
1  2  5
2  3  6

In [2]:
class English:

    def greeting(self):
        print('Hello')


class French:

    def greeting(self):
        print('Bonjour')


def greet(language):
    language.greeting()

e = English()
greet(e)

print('')

f= French()
greet(f)

Hello

Bonjour